.offcanvas .nav-link{
    color: #AEAEAE;
}
.offcanvas .nav-link:hover{
    color: black;
}
.card-award{
    height: 150px;
    overflow: hidden;
    position: relative;
    background-color: #EFEFF0;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.37);
    -webkit-box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.37);
    -moz-box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.37);
}
.card-img{
    width: 100%;
}
.border-0{
    border-style: none;
}
.card-poin{
    display: block;
    width: 100%;
    position: absolute;
    background: rgba(239,239,240, 0.4);
    bottom: 0;
    left: 0;
    padding: 6px 4px;
}